          <tr>
            <td>
              <%= h(movie.synopsis) %><br/>

              <% if movie.directors.any? %>
              <p>Director: <%= h(movie.directors.map(&:name).join(', ')) %></p>
              <% end %>

              <% if trailer = movie.trailers.first %>
              <p>Trailer: <%= link_to h( trailer.title ), trailer.link %></p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td align="center" >
              <big><b>
                <span panel-listener="true">
                  <%= link_to "#{ movie.title } [#{ movie.year }]", movie_path(movie, details: false), remote: true %>
                </span>
              </b></big>
            </td>
          </tr>
