<h1>Movies#index</h1>

<table>
  <% @movies.each do | movie | %>
  <tr>
    <td>
      <%= h( movie.title ) %>
    </td>
    <td>
      <%= image_tag url_for( controller: 'posters', action: 'show', movie_id: movie.id ) %>
    </td>
  </tr>
  <% end %>
</table>
