default: &default
  adapter: mysql2
  username: root
  password: password
  host: localhost
  encoding: utf8
  socket: /path/to/mysqld.sock

development:
  <<: *default
  database: drunken_tomatoes

test:
  <<: *default
  database: drunken_tomatoes_test

production:
  <<: *default
  database: drunken_tomatoes
